# backend
backend/.env
backend/uploads/*
!backend/uploads/.gitkeep
__pycache__/
*.pyc

# frontend
frontend/node_modules/
frontend/dist/

# nginx/certbot
nginx/certbot/conf/*
nginx/certbot/www/*

.DS_Store
